%script{:src => "http://leaverou.github.io/prefixfree/prefixfree.min.js", :type => "text/javascript"}
%section
  #action
    #keg
      #pipe-handle
      #pipe
      #pipe-front
    .glass
      .beer
      .handle
        .top-right
        .bottom-right
      .front-glass
%h1.choose
  = "Pub Crawler"
%nav
  = link_to "PubCrawler Breweries List", breweries_path
  %br
<<<<<<< HEAD
  = link_to "Register as a User!", users_new_path
  .hidden
=======
  = link_to "Edit your Profile!", users_edit_path
  .hidden
>>>>>>> 462d6bb068fcd33ceaa5e5b6a2dd79d39fdd7e65
